* {
    margin: 0;
    padding: 0;
}

body 
{
    @include background-marmol
}

.logo 
{
    @include logo-formatting
}

main 
{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
}

.pulse:hover {
	display: inline-block;
	animation: pulse 2s infinite linear;
}

@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@media (max-width: 700px) { 
    .maps {
        max-width: 450px;
    }
 }
